@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 100deg 100% 100%;
		--theme-link: 0deg 0% 0%;
		--theme-text: 0deg 0% 33%;
		--theme-accent: 0deg 0% 7%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-accent-3: 21.9deg 100% 50%;
		--theme-quote: 351deg 66% 48%;
		--theme-bg-code: 0deg 0% 97%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 0deg 0% 0%;
		--theme-link: 0deg 0% 100%;
		--theme-text: 0deg 0% 73%;
		--theme-accent: 0deg 0% 93%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-accent-3: 21.9deg 100% 50%;
		--theme-quote: 102deg 100% 86%;
		--theme-bg-code: 0deg 0% 7%;
	}

	/** change text selection background color */
	*::-moz-selection {
		/* Code for Firefox */
		@apply bg-textColor/20;
	}

	*::selection {
		@apply bg-textColor/20;
	}

	html {
		@apply scroll-smooth;

		/** scrollbar styles */
		scrollbar-color: rgb(238, 238, 238) #ffffff;

		&.dark {
			/** scrollbar styles */
			scrollbar-color: #1f1f1f #2f2f2f;
		}

		& body {
			@apply flex min-h-screen min-w-full max-w-3xl flex-col items-center bg-bgColor px-8 pt-4 font-sans text-sm font-normal text-textColor antialiased;
		}
	}
}
