@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 100deg 100% 100%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 0deg 0% 0%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-sans text-sm font-normal text-textColor antialiased;
	}

  html {
    scrollbar-color: rgb(238, 238, 238)  #FFFFFF;
  }
  html.dark {
    scrollbar-color: #1f1f1f #2f2f2f;
  }

  html {
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden;
    position:relative;
  }
}

/* fix: jumpy popup */
.twoslash-popup-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

.twoslash-hover {
  position: static !important;
}

/* use default value for persisted popup */
.twoslash-hover.twoslash-query-presisted .twoslash-popup-container{
  display: inline-flex !important;
}
.twoslash-hover.twoslash-query-presisted {
  position: relative !important;
}

/* fix striped border */
.twoslash-popup-code,
.twoslash-popup-docs {
  border-radius: inherit;
}

/* fix doctags not fully width */
.twoslash-popup-docs {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* fix doctags not fully width */
.twoslash-popup-docs .twoslash-popup-docs-tags {
  margin-right: 0;
}

html.dark pre.astro-code, 
html.dark pre.astro-code *:not(.twoslash-error-line):not(.twoslash-completions-unmatched) {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
