@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 100deg 100% 100%;
		--theme-link: 0deg 0% 0%;
		--theme-text: 0deg 0% 33%;
		--theme-accent: 0deg 0% 7%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-accent-3: 21.9deg 100% 50%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 7%;
		--theme-link: 0deg 0% 100%;
		--theme-text: 0deg 0% 73%;
		--theme-accent: 0deg 0% 93%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-accent-3: 21.9deg 100% 50%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-4 font-sans text-sm font-normal text-textColor antialiased items-center min-w-full;
	}

  /* force overflow-x: hidden; */
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    position:relative;
  }

  /** scrollbar styles*/
  html {
    scrollbar-color: rgb(238, 238, 238)  #FFFFFF;
  }
  html.dark {
    scrollbar-color: #1f1f1f #2f2f2f;
  }
}
