/* fix: jumpy popup */
.twoslash-popup-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

.twoslash-hover {
  position: static !important;
}

/* use default value for persisted popup */
.twoslash-hover.twoslash-query-presisted .twoslash-popup-container{
  display: inline-flex !important;
}
.twoslash-hover.twoslash-query-presisted {
  position: relative !important;
}

/* fix striped border */
.twoslash-popup-code,
.twoslash-popup-docs {
  border-radius: inherit;
}

/* fix doctags not fully width */
.twoslash-popup-docs {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* fix doctags not fully width */
.twoslash-popup-docs .twoslash-popup-docs-tags {
  margin-right: 0;
}

/** override background-color */
html.dark pre.astro-code,
html.dark pre.astro-code *:not(.twoslash-error-line):not(.twoslash-completions-unmatched) {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html pre.astro-code,
html pre.astro-code *:not(.twoslash-error-line):not(.twoslash-completions-unmatched)
{
  background-color: #f8f8f8 !important;
}
html.dark pre.astro-code,
html.dark pre.astro-code *:not(.twoslash-error-line):not(.twoslash-completions-unmatched)
{
  background-color: #131313 !important;
}

/** override font */
html pre.astro-code {
  @apply font-code;
}

/** override margin */
html pre.astro-code {
  @apply mt-2.5 mb-3.5;
}

/** add highlight style */
html pre.astro-code {
  @apply block px-0 py-5;
}
html pre.astro-code span.line:has(> *)  {
  @apply px-5;
  display: inline-block;
}

html pre.astro-code span.line.highlighted  {
  @apply px-5;
  display: inline-block;
  width: 100%;
}
html pre.astro-code span.line.highlighted,
html pre.astro-code code span.line.highlighted span,
html pre.astro-code code span.line.highlighted span.twoslash-popup-container * {
  background: #eaeaea !important;
}

html.dark pre.astro-code span.line.highlighted,
html.dark pre.astro-code code span.line.highlighted span,
html.dark pre.astro-code code span.line.highlighted span.twoslash-popup-container * {
  background: #1f1f1f !important;
}
