---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/utils";
	let headerEl: HTMLElement;
	let menuButtonEl: HTMLButtonElement;
	let menuOpen = false;

	function toggleMobileMenu() {
		toggleClass(headerEl, "menu-open");
		menuOpen = !menuOpen;
		menuButtonEl.setAttribute("aria-expanded", menuOpen.toString());
	}

	document.addEventListener("DOMContentLoaded", () => {
		headerEl = document.getElementById("main-header")!;
		menuButtonEl = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		menuButtonEl.addEventListener("click", toggleMobileMenu);
	});

	document.addEventListener("astro:after-swap", () => {
		if (menuOpen) toggleMobileMenu();
	});
</script>

<header
	id="main-header"
	class="group relative mb-12 flex w-full items-center sm:mb-14"
	transition:persist
>
	<div class="flex w-full justify-between">
		<a
			href="/"
			class="inline-flex items-center grayscale transition-all duration-300 hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				class="-top-0.5 me-3 h-10 w-6 sm:start-[-4.5rem] sm:me-0 sm:h-10 sm:w-6"
				viewBox="0 0 299 562"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M58.35 561.4C57.55 561 57.5 547.4 57.5 369.55V178.15L63.85 174.5C67.4 172.45 73.65 168.85 77.75 166.45C95.35 156.3 148.5 125.6 161.5 118.1C166.05 115.5 172.55 111.75 176 109.75C181.65 106.45 206.15 92.3 235.25 75.5C256.1 63.5 263.3 59.35 279.55 49.95C288.55 44.75 296.2 40.5 296.6 40.5C297 40.5 297.55 40.75 297.9 41.1C298.8 42 298.75 423.15 297.9 423.85C297.55 424.15 283.3 432.4 266.25 442.25C180.8 491.55 64.7 558.6 61.7 560.4C59.85 561.45 58.95 561.75 58.35 561.4ZM134.6 433.55C145.45 427.25 208.3 390.95 220.35 384.05L230.5 378.25V271.85V165.45L229.4 166.05C228.75 166.4 223.75 169.25 218.25 172.4C196.75 184.8 182.55 193 178 195.65C173.8 198.1 173.25 198.3 173.1 197.45C173 196.95 172.8 196.5 172.7 196.5C172.05 196.5 126.15 223.2 125.65 223.9C125.15 224.5 125 239.6 125 295.4C125 358.05 125.1 366.05 125.75 365.8C126.4 365.55 126.5 369.75 126.5 401.75C126.5 421.7 126.6 438 126.75 438C126.85 438 130.4 436 134.6 433.55Z"
					fill="#53C68C"></path>
				<path
					d="M30.5 541.95C15.25 531.25 2.15 522.1 1.4 521.7L0 520.95V329.75V138.55L1.05 138C2.2 137.35 3.2 137.9 12.5 144.5C15.1 146.3 19.5 149.4 22.25 151.3C25 153.25 29.55 156.45 32.4 158.4C35.2 160.4 39.7 163.55 42.4 165.4C45.05 167.3 50 170.8 53.35 173.15C56.75 175.55 59.7 177.5 60 177.5C60.8 177.5 60.6 178.85 59.75 179.2C59.1 179.45 59 201.15 59 370.5C59 475.55 58.85 561.5 58.65 561.5C58.4 561.45 45.75 552.7 30.5 541.95Z"
					fill="#AF4303"></path>
				<path
					d="M226.1 377.6C218.5 372.35 176.55 343 172.95 340.35C172.05 339.7 171.9 339.35 172.4 339.1C172.9 338.75 173 324.5 173 267.4V196.1L177.35 193.6C179.8 192.25 187.4 187.85 194.25 183.9C225.15 166.05 230.6 162.9 231.3 162.65C231.9 162.45 232 177.1 232 271.15C232 369.85 231.95 379.9 231.2 380.2C230.25 380.55 230.95 380.95 226.1 377.6Z"
					fill="#AF4303"></path>
				<path
					d="M125 403.65V366.25L148.55 352.75C161.5 345.35 172.35 339 172.75 338.65C173.25 338.15 173.65 338.2 174.6 338.95C175.2 339.45 184.55 346 195.25 353.5C206 361 216.8 368.6 219.25 370.35C221.75 372.05 225.6 374.75 227.9 376.25C230.15 377.75 232 379.15 232 379.4C232 379.6 227.45 382.35 221.85 385.55C212.75 390.75 155.85 423.6 135.75 435.25C127.2 440.2 125.75 441 125.3 441C125.15 441 125 424.2 125 403.65Z"
					fill="#FF5D00"></path>
				<path
					d="M58.5 179.1C58.1 178.95 55.05 176.9 51.75 174.6C48.45 172.25 43.5 168.75 40.75 166.8C32.9 161.3 26.15 156.6 20.75 152.85C18 150.9 13.95 148.05 11.75 146.5C9.55003 144.9 6.00003 142.5 3.85003 141.1C1.75003 139.7 0.150026 138.45 0.350026 138.35C0.600026 138.2 54.4 107.15 119.95 69.3C185.5 31.45 239.45 0.550007 239.8 0.700007C240.2 0.850007 253.55 10.1 269.55 21.3C292.75 37.55 298.45 41.75 297.65 42.05C296.85 42.35 268.9 58.4 248.5 70.25C245.05 72.25 238.55 76 234 78.6C220.05 86.65 184.1 107.4 177.5 111.25C174.05 113.25 167.55 117 163 119.6C150.9 126.6 114 147.85 104.75 153.25C100.35 155.8 93.85 159.55 90.25 161.6C86.7 163.65 78.7 168.25 72.5 171.85C59 179.65 59.45 179.45 58.5 179.1Z"
					fill="#FF5D00"></path>
			</svg>
			<!--<span class="text-xl font-bold sm:text-2xl">Muhammad Rahmahalim</span>-->
		</a>
		<div class="flex gap-4">
			<nav
				id="navigation-menu"
				class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-4 gap-y-4 rounded-md border border-textColor bg-bgColor/[.85] py-4 text-textColor shadow backdrop-blur-sm group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex sm:flex-row sm:items-center sm:rounded-none sm:border-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
				aria-label="Main menu"
			>
				{
					menuLinks.map((link) => (
						<a
							href={link.path}
							class="px-4 sm:p-0 sm:hover:underline"
							aria-current={url.pathname === link.path ? "page" : false}
							rel="prefetch"
						>
							{link.title}
							{link.path?.startsWith("http") ? (
								<svg
									width="12"
									height="12"
									aria-hidden="true"
									viewBox="0 0 24 24"
									class="-mt-0.5 ml-1.5 inline-block"
								>
									<path
										fill="currentColor"
										d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
									/>
								</svg>
							) : null}
						</a>
					))
				}
			</nav>
			<Search />
			<ThemeToggle />
		</div>
	</div>

	<button
		id="toggle-navigation-menu"
		class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
		type="button"
		aria-label="Open main menu"
		aria-expanded="false"
		aria-haspopup="menu"
	>
		<svg
			id="line-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
		</svg>
		<svg
			id="cross-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
</header>
